<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.septa.android.app" >

    <!-- the Google Play Services Map API v2 requires OpenGL ES v2, thus
        instruct the Google Play store not to show or install app on a device
        that does not support OpenGL ES v2 -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <!-- needed for the Connect tab to call customer service -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- needed for the Realtime tab tips WebView -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- needed to obtain the user's location to display on the map and find nearest location -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission android:name="org.septa.android.app.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>

    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <!-- <uses-feature android:name="android.hardware.camera" /> -->
    <!-- <uses-feature android:name="android.hardware.camera.autofocus" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBm_Nn2-tPNXMpMTvlv70Sfb3CrVKX2Xzw"/>

        <activity
            android:name="org.septa.android.app.activities.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.septa.android.app.activities.MainTabbarActivity"
            android:label="SEPTA" >
        </activity>
        <activity
            android:name="org.septa.android.app.activities.MainNavigationDrawerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.septa.android.app.activities.PlaceholderActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.SettingsActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.TipsActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.AppFeedbackFormActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.FareInformationActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.FareInformationGetMoreDetailsActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.AboutActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.CommentsFormActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.FindNearestLocationActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.TrainViewActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name=".activities.TransitViewActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name=".activities.TransitViewMapAndRouteListActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>

        <activity android:name=".activities.SchedulesRouteSelectionActionBarActivity"
                  android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity" >
                <!-- Parent activity meta-data to support 4.0 and lower -->
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity android:name=".activities.SchedulesItineraryActionBarActivity"
                  android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity android:name=".activities.ItinerarySelectionActionBarActivity"
                  android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
    </application>

</manifest>
