<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.septa.android.app">

    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>

    <!-- the Google Play Services Map API v2 requires OpenGL ES v2, thus
        instruct the Google Play store not to show or install app on a device
        that does not support OpenGL ES v2 -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <!-- needed for the Connect tab to call customer service -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>

    <!-- needed for the Realtime tab tips WebView -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- needed to obtain the user's location to display on the map and find nearest location -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>

    <permission android:name="org.septa.android.app.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"

        android:theme="@style/AppTheme" >

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBm_Nn2-tPNXMpMTvlv70Sfb3CrVKX2Xzw"/>

        <activity
            android:name="org.septa.android.app.activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.septa.android.app.activities.MainTabbarActivity"
            android:label="SEPTA"
            android:configChanges="keyboard|orientation|screenSize">
        </activity>
        <activity
            android:name="org.septa.android.app.activities.MainNavigationDrawerActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|orientation|screenSize" >
        </activity>
        <activity
            android:name="org.septa.android.app.activities.SettingsActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity"
            android:configChanges="keyboard|orientation|screenSize" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.TipsActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity"
            android:configChanges="keyboard|orientation|screenSize" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.AppFeedbackFormActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity"
            android:configChanges="keyboard|orientation|screenSize" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.FareInformationActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity"
            android:configChanges="keyboard|orientation|screenSize" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.FareInformationGetMoreDetailsActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity"
            android:configChanges="keyboard|orientation|screenSize" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.AboutActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity"
            android:configChanges="keyboard|orientation|screenSize" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.CommentsFormActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity"
            android:configChanges="keyboard|orientation|screenSize" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.FindNearestLocationActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity"
            android:configChanges="keyboard|orientation|screenSize" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name="org.septa.android.app.activities.TrainViewActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity"
            android:configChanges="keyboard|orientation|screenSize" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name=".activities.TransitViewActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity"
            android:configChanges="keyboard|orientation|screenSize" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity
            android:name=".activities.TransitViewMapAndRouteListActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity"
            android:configChanges="keyboard|orientation|screenSize" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>

        <activity android:name=".activities.schedules.SchedulesRouteSelectionActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTop" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity android:name=".activities.schedules.SchedulesItineraryActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.schedules.SchedulesRouteSelectionActionBarActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTop" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.schedules.SchedulesRouteSelectionActionBarActivity" />
        </activity>
        <activity android:name=".activities.schedules.SchedulesStopsSelectionActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.schedules.SchedulesItineraryActionBarActivity"
            android:configChanges="keyboard|orientation|screenSize" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.schedules.SchedulesItineraryActionBarActivity" />
        </activity>
        <activity android:name=".activities.SystemStatusActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity"
            android:configChanges="keyboard|orientation|screenSize" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity android:name=".activities.SystemStatusDetailsActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.SystemStatusActionBarActivity"
            android:configChanges="keyboard|orientation|screenSize" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SystemStatusActionBarActivity" />
        </activity>
        <activity android:name=".activities.NextToArriveActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.MainTabbarActivity"
            android:configChanges="keyboard|orientation|screenSize" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainTabbarActivity" />
        </activity>
        <activity android:name=".activities.NextToArriveStopSelectionActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.NextToArriveActionBarActivity"
            android:configChanges="keyboard|orientation|screenSize" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.NextToArriveActionBarActivity" />
        </activity>

        <activity android:name=".activities.NextToArriveRealTimeWebViewActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.NextToArriveActionBarActivity"
            android:configChanges="keyboard|orientation|screenSize" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.NextToArriveActionBarActivity" />
        </activity>

        <activity android:name=".activities.schedules.SchedulesRRStopSelectionActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.schedules.SchedulesItineraryActionBarActivity"
            android:configChanges="keyboard|orientation|screenSize" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.septa.android.app.activities.schedules.SchedulesItineraryActionBarActivity" />
        </activity>

        <activity android:name=".activities.FindNearestLocationRouteDetailsActionBarActivity"
            android:parentActivityName="org.septa.android.app.activities.FindNearestLocationActionBarActivity"
            android:configChanges="keyboard|orientation|screenSize" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FindNearestLocationActionBarActivity" />
        </activity>

        <meta-data android:name="com.crashlytics.ApiKey" android:value="bc2dd85ee4bc4580ad7a7e2819d8402ff8595c61"/>
    </application>

</manifest>
